
#section-js-history{
    border-bottom-style: solid;
    border-bottom-width: .1rem;
    border-color: #44475a;
    height: 50vh;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    padding-bottom: 2rem;
    -ms-overflow-style: none; 
  }
#js-history-list{
    margin-top: 4rem;
}
.js-history-list-item{
    align-items: center;
    border-radius: .3rem;
    display: flex;
    margin-bottom: 1.8rem;
    text-align: left;
}
.js-history-list-item--icon{
    background-color: #fff;
    border-color: #50fa7b;
    border-radius: .2rem;
    border-style: solid;
    border-width: .1rem;
    height: 1.6rem;
    margin-right: .6rem;
    width: 1.6rem;
}
.js-history-list-item--title{
    color: #6272a4;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(75% - 2.4rem);
    white-space: nowrap;
    transition: all .2s ease-in;
}
.js-history-list-item--title:hover{
    color: var(--js-history-title-hover-color);
}
.js-history-list-item--time{
    color: #999;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 100;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 25%;
}