#nav-bar{
    background-color: #44475a;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 1rem .8rem 1.5rem .8rem;
}
.nav-bar-list-box{
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-around;
}
.nav-bar-list-item-box{
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-top: 2rem;
}
.nav-bar-icon-box{
    align-items: center;
    border-radius: .2rem;
    display: flex;
    height: 2rem;
    justify-content: center;
    padding: .5rem;
    width: 2rem;
}
.nav-bar-icon{
    color: #44475a;
    font-size: 1.3rem;
}
.nav-bar-text{
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-left: .5rem;
}
.nav-bottom-box{
    align-items: center;
    display: flex;
    flex-direction: column;
}
#main-img{
    background: url("https://initab.com/assets/images/initab_logo.png");
    background-repeat: no-repeat;
    height: 3.5rem;
    width: 12.5rem;
}
#initab-logo{
    max-width:100px;
    height: auto;
}
.social-media-box{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    width: 100%;
}
.social-media-box>li {
    cursor: pointer;
}