#section-reddit-news-feed{
    height: 100vh;  
    overflow: -moz-scrollbars-none;
    overflow-y: auto;
    -ms-overflow-style: none;
}
#reddit-news-feed-list{
    padding: 0 2rem;
}
.reddit-news-feed-list-item-box{
    border-color: #44475a;
    border-left-style: solid;
    border-left-width: .3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-height: 100%;
    padding-left: 1rem;
    text-align: left;
    transition: all .2s ease-in;
    overflow-y: auto;
}
.reddit-news-feed-list-item-box:hover {
    border-color: var(--border-hover-color);
}
.reddit-news-feed--title, 
.reddit-news-feed--posted-by,
.reddit-news-feed--reddit-core{
    display:block;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.8rem;
    margin-bottom: .4rem;
    
}
.reddit-news-feed--title{
    color: #f8f8f2; 
}
.reddit-news-feed--posted-by{
    color: #f1fa8c;
}
.reddit-news-feed--reddit-core{
    color: #6272a4;
}
.reddit-news-feed--reddit-link{
    color: #ff79c6;
    display: block;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.8rem;
    text-decoration: underline;
    transition: all .2s ease-in;
}
.reddit-news-feed--reddit-link:hover{
    color: var(--reddit-coments-link-hover-color);
    text-decoration: underline;
}