
#section-Time{
    background-color: #282a36;
    height: 50vh;
    position: relative;
    z-Index: 1000;
}
#time-box{
    color: #6272a4;
    position: absolute;
    text-align: center;
    width: 100%;
}
#hours-minutes-text{
    font-size: 12rem;
}
#ampm-text{
    font-size: 3.2rem;
}
#day-month-year-text{
    font-size: 2rem;
}
#time-note{
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 2rem;
    white-space: normal;
}
#time-dont-show-me-btn{
    color:#ffb86c;
    cursor: pointer;
    font-weight: bold;
}